/*
Рекомендуемое ПО: Atom (ООО «ВК»), Яндекс Браузер (ООО "Яндекс").
Сделано в Российской Федерации. Адрес производителя - Республика Саха (Якутия), 
Нижнеколымский район, поселок Черский, Ул.Таврата, дом 12, кватира 15.
Электронная почта по приему претензий: aircgroupstudio@gmail.com.

Физическое Лицо Имаев Артемий Дмитриевич.
*/

body {
	margin: 0;
	font-family: basic;
	background-color: #a3a3a3;
	color: white;
}
.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

@font-face {
	font-family: basic; 
	src: url("main.ttf"); 
}

@font-face {
	font-family: title; 
	src: url("title.ttf"); 
}

@keyframes startBack {
	from {
		background-image: url("1.avif");
	}
	to {
		background-image: url("2.avif");
	}
}

a{
	text-decoration: none;
}

#header {
	z-index: 10;
	opacity: 1;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #FFF6F7;
	font-weight: bold;
	transition: 0.6s ease-out;
	border-radius: 0 0 30px 0;
}

.logo {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 60px;
	height: 60px;
	filter: none;
	filter: blur(0);
	-webkit-filter: blur(0);
	transition: 0.6s ease-out;
	background-color: #FFF6F7;
	border: solid 1px #000;
	border-radius: 10px;
}

.menu {
	padding-left: 10px;
	flex-grow: 1;
	color: #000
}

.menu ul {
	display: flex;
	flex-flow: row nowrap;
	margin: 2px 0 0;
	padding: 0px;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
}

.menu a {
	display: block;
	font-family: title;
	text-transform: uppercase;
	letter-spacing: .10em;
	transition: 0.6s ease-out;
	color: #000;
}
.menu a:hover{
	color: #A3A3A3;
	animation-delay: 1;
}

.menu ul li {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 175px;
	height: 50px;
}

.langChange {
	font-family: title;
	background-color: #FFF6F7;
	border: solid 0px #000;
	transition: 0.6s ease-out;
	text-transform: uppercase;
	letter-spacing: .10em;
}

.langChange:hover {
	color: #A3A3A3;
	animation-delay: 1;
}

.first-card {
	z-index: -3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	text-align: center;
	align-items: center;
	height: 100vh;
	background-size: cover;
	background-position: center;
	width: 100%;
	transition: all 0.4s ease 0s;
	text-shadow: black 0 0 3px;
	-webkit-transition: background-image 0.2s ease-in-out; 
	transition: background-image 0.2s ease-in-out;
	animation: startBack 3s linear;
	background-image: url("2.avif");
	background-attachment: fixed;
}

.quote {
	font-size: 30px;
	opacity: 0;
}

.author {
	font-size: 20px;
	opacity: 0;
}

.title {
	font-family: title;
	font-size: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #a3a3a3;
}

.screenblock {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.ShadowGrandient {
	box-shadow: 0 0 80vh 0 #a3a3a3;
}

.trailer {
	width: 70vw;
	border: 0px solid #000;
	border-radius: 10px;
}

.description {
	text-align: justify;
	width: 70vw;
	margin-top: 50px;
	margin-bottom: 50px;
}

.owl-carousel {
	max-width: 70vw;
	margin: auto;
}

details {
	width: 70vw;
}

details summary {
	font-size: 28px;
}

details p {
	font-size: 18px;
}

.dateexit {
	font-size: 40px;
	text-align: justify;
	text-shadow: 0px 0px 5px #000;
}

.end {
	width: 70vw;
	margin: auto;
	border: 0px solid #000;
	border-radius: 10px;
	background-image: url('7.avif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.uridicheskayinfo {
	text-align: justify;
	width: 70vw;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 12px;
}

@media only screen and (min-width: 801px){
	* {
		font-size: 25px;
	}
}

@media only screen and (max-width: 975px){
	#header{
		border-radius: 0;
	}
	.menu {
		display: block;
		position: absolute;
		top: 68px;
		height: calc(100vh - 68px);
		left: 0;
		background: #FFF6F7;
		width: 270px;
		box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
		transition: all 0.4s ease;
		left:-100%;
	}
	.menu ul{
		flex-flow: column;
		margin-top: 30px;
		height: calc(100% - 30px);
	}
	.menu ul li{
		padding-left: 0;
		margin-right: 10px;
		border: solid 0px #000;
		border-width: 0 0 1px 0;
		text-align: left;
		justify-content: left;
	}
	.menu{
		display: block;
	}
	.menu.open-menu{
		left: 0px;
	}
	.fixed-page {
		overflow: hidden;
	}
	.langChange {
		text-align: left;
		margin-right: 10px;
		padding: 0px;
		border: solid 0px #000;
		border-width: 0 0 1px 0;
		height: 50px;
		width: 175px;
	}
}


@media only screen and (max-width: 800px){
	* {
		font-size: 25px;
	}
	.description {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.screenblock {
		min-height: 0px;
	}
	.owl-carousel {
		max-width: 90vw;
	}
	.description {
		width: 90vw;
	}
	.trailer {
		width: 90vw;
	}
	details {
		width: 90vw;
	}
	.end {
		width: 90vw;
	}
}

@media only screen and (max-width: 550px){
	* {
		font-size: 15px;
	}
	.menu{
		font-size: 20px;
		width: 180px;
	}
}